@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:root,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  @apply bg-white dark:bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply transition-all;
  background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb; /* color of the thumb on hover */
}
